In [2]:
import yfinance as yf
import pandas as pd
import datetime

In [ ]:
fecha_inicio = datetime.datetime(2019, 1, 1)
fecha_actual = datetime.datetime.now()

tickers = ['AAPL', 'MSFT', 'GOOGL', 'AMZN', 'TSLA', 'META', 'NVDA', 'JPM', 'V', 'JNJ', 'WMT', 'PG', 'DIS', 'MA', 'HD', 'BAC', 'XOM', 'NFLX', 'ADBE', 'PYPL', 'INTC', '^TNX']

data = yf.download(tickers, start=fecha_inicio, end=fecha_actual, auto_adjust=True)['Close']

data.head()

[*********************100%***********************]  22 of 22 completed

Ticker,AAPL,ADBE,AMZN,BAC,DIS,GOOGL,HD,INTC,JNJ,JPM,...,MSFT,NFLX,NVDA,PG,PYPL,TSLA,V,WMT,XOM,^TNX
Date,,,,,,,,,,,,,,,,,,,,,
2019-01-02,37.538818,224.570007,76.956497,21.063488,105.177467,52.338543,145.167847,40.518051,104.942810,81.616707,...,94.612610,26.766001,3.377166,76.454636,85.552223,20.674667,126.589920,28.024439,50.335129,2.661
2019-01-03,33.799675,215.699997,75.014000,20.725933,102.629349,50.888992,141.968292,38.289043,103.275253,80.456795,...,91.131981,27.120001,3.173128,75.918594,81.900665,20.024000,122.028076,27.880327,49.562294,2.554
2019-01-04,35.242550,226.190002,78.769501,21.586700,105.795197,53.499271,146.186646,40.638538,105.008553,83.422867,...,95.370453,29.757000,3.376422,77.468117,86.071022,21.179333,127.285194,28.054468,51.389637,2.659
2019-01-07,35.164112,229.259995,81.475502,21.569820,106.712120,53.392582,149.066238,40.827873,104.334930,83.480858,...,95.492119,31.534000,3.555173,77.158195,86.729507,22.330667,129.580399,28.384729,51.656868,2.682
2019-01-08,35.834450,232.679993,82.829002,21.527626,107.542198,53.861542,149.782013,41.086063,106.758301,83.323448,...,96.184486,32.027000,3.466666,77.442986,88.495422,22.356667,130.285217,28.582891,52.032459,2.716

In [4]:
data.to_excel('precios_acciones.xlsx')